/**
 * Knot126 KB Styles
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	--main-colour: #26a269;
	--text-colour: #1f1f1f;
	--main-font: "Kumbh Sans";
/* 	--monospace-font: "Inconsolata"; */
	--monospace-font: "Nanum Gothic Coding";
/* 	--para-font: "Inter"; */
	--para-font: "Open Sans";
	--theme-red: #c01c28;
	--theme-green: #26a269;
	--theme-blue: #1c71d8;
	--theme-purple: #813d9c;
	--theme-yellow: #f5c211;
	--theme-orange: #e66100;
	--theme-pink: #a7334f;
}

.red { color: var(--theme-red); }
.green { color: var(--theme-green); }
.blue { color: var(--theme-blue); }
.purple { color: var(--theme-purple); }
.yellow { color: var(--theme-yellow); }
.orange { color: var(--theme-orange); }
.pink { color: var(--theme-pink); }

::selection {
	background: #33d17a80;
}

/* Text markup */
h1, h2, h3, h4, h5, h6, p, li {
	color: var(--text-colour);
	font-family: var(--main-font), sans-serif;
	font-weight: 400;
	margin: 0;
	margin-bottom: 0.35em;
	padding: 0;
}

h1 { font-size: 32pt; }
h2 { font-size: 24pt; }
h3 { font-size: 18pt; }
h4 { font-size: 12pt; }
h5 { font-size: 10pt; }
h6 { font-size: 8pt; }

p, li {
	font-size: 12pt;
	font-family: var(--para-font);
	line-height: 1.5;
	margin-bottom: 0.5em;
}

ul, ol {
	padding-left: 1.5em;
}

a {
	color: var(--main-colour);
	text-decoration-line: none;
}

pre {
	background: #f7f7f7;
	border: 1px solid #e0e0e0;
	border-radius: 0.2em;
	overflow: auto;
	padding: 1em;
	font-family: var(--monospace-font), monospace;
	line-height: 1.3;
}

code {
	background: #f7f7f7;
	border: 1px solid #e0e0e0;
	border-bottom-width: 2px;
	border-radius: 0.2em;
	overflow: auto;
	padding: 0.2em;
	font-family: var(--monospace-font), monospace;
	line-height: 1.3;
}

.image {
	text-align: center;
}

.blockquote {
	overflow: auto;
	margin: 1.5em 2em;
	font-family: var(--para-font), monospace;
	font-style: italic;
	line-height: 1.3;
}

.topbar {
	background: var(--main-colour);
	padding: 0.5em;
	font-family: var(--main-font), sans-serif;
	font-size: 16pt;
	color: #fff;
	text-align: center;
	font-weight: 700;
}

.topbar a, .topbar p {
	color: #fff;
}

.content {
	max-width: max(35em, 50%);
	margin: 1.75em auto;
	padding: 0.35em;
	font-family: var(--para-font), monospace;
	font-size: 12pt;
}

.box {
	background: #f2f2f2;
/* 	border: 1px solid #e0e0e0; */
	border-radius: 0.2em;
	overflow: auto;
	padding: 1.1em;
	margin: 1em;
	font-family: var(--main-font), monospace;
	line-height: 1.3;
}

.warning {
	background: #ffbe6f;
	border-radius: 0.3em;
	padding: 0.8em;
	margin-bottom: 0.75em;
}

.note {
	background: #deddda;
	border-radius: 0.3em;
	padding: 0.8em;
	margin-bottom: 0.75em;
}
